*{
  margin: 0;
  padding: 0;
}
@font-face {
    font-family: JudoFont;
    src: url(font/great_fighter/Great\ Fighter\ Demo.ttf);
  }

#wrapper{
    background-image: url(img/tori.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position:center center;
    background-attachment: fixed;
    height: 100%;

}
#part1{
  height: 100vh;
  background: rgba(255, 255, 255, 0.671);

}
.wshadow{
  text-shadow: 2px 2px black;
}
#carousel1{

  margin-left: auto;
  margin-right: auto; 
}

#part2{
  background: rgba(0, 0, 0, 0.671);
  color: white;
  text-shadow: none;
  height: 100vh;
  
}
#part2 h1{
  font-family: JudoFont;
  padding-top: 1vw;
}
.card-bg{
  /* background: rgba(255, 255, 255, 0.671); */
  padding: 1vw
}
#jumbo-main{
  
  background: rgba(255, 255, 255, 0);

}
#jumbo-main h2{
    font-family: JudoFont;
}
.logo-nav{
    height: 1vw;
}
#part3{
  height: 100vh;
  background: rgba(255, 255, 255, 0.671);
}
#part3 h1{
  font-family: JudoFont;
  padding-top: 1vw;
}

@media (min-width: 1921px){
    #wrapper{
        background-image: url(img/tori-wide.jpg);
    }
    #jumbo-main h2{
        font-size: 3vw;
    }
    .logo-nav{
      height: 2vw;
  }
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) and (max-width: 1920px) {
    #jumbo-main h2{
        font-size: 4vw;
    }
    .logo-nav{
      height: 3vw;
  }
    
  }
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  @media (min-width: 1025px) and (max-width: 1280px) {
    #jumbo-main h2{
        font-size: 5vw;
    }
    .logo-nav{
      height: 4vw;
  }
  }
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  @media (min-width: 768px) and (max-width: 1024px) {
    #wrapper{
        background-image: url(img/tori-tablet.jpg);
    }
    #jumbo-main h2{
        font-size: 7vw;
    }
    .logo-nav{
      height: 5vw;
  }
  }
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    #wrapper{
        background-image: url(img/tori-mobile.jpg);
    }
    #jumbo-main h2{
      font-size: 8vw;
  }
  .logo-nav{
    height: 6vw;
}
  }
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  @media (min-width: 481px) and (max-width: 767px) {
    #wrapper{
        background-image: url(img/tori-mobile.jpg);
    }
    #jumbo-main h2{
      font-size: 9w;
  }
  .logo-nav{
    height: 7vw;
}
  }
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    #wrapper{
        background-image: url(img/tori-mobile.jpg);
    }
    #jumbo-main h2{
      font-size: 10vw;
  }
  }